<% @patient = Patient.find_by medwallet_id: @user.id  %>
<% @careplan = CarePlan.where patient_id: @patient.id %>
<div class="table-responsive-xl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Provider</th>
        <th scope="col">Treatment</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @careplan.each do |careplan| %>
        <tr>
          <td id="<%= dom_id(careplan)%>_date">
            <%= careplan.date %>
          </td>
          <td id="<%= dom_id(careplan)%>_status">
            <% @status = Status.where care_plan_id: careplan.status_id %>
            <%= link_to careplan.status.name, edit_care_plan_path(careplan), remote: true %>
        </td>
        <td id="<%= dom_id(careplan)%>_provider">
          <% @feeschedule = careplan.fee_schedule %>
          <% @provider = @feeschedule.provider %>
          <%= @provider.name %>
        </td>
        <td id="<%= dom_id(careplan)%>_action">
          <% @treatment = @feeschedule.treatment %>
          <%= @treatment.action %>
        </td>
        <td id="<%= dom_id(careplan)%>_cost">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
