<% @patient = Patient.find_by medwallet_id: @user.id  %>
<% @careplan = CarePlan.where patient_id: @patient.id %>
<div class="table-responsive-xl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Provider</th>
        <th scope="col">Treatment</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @careplan.each do |careplan| %>
        <tr>
          <td id="careplan_<%=careplan.id%>_date">
            <%= careplan.date %>
          </td>
          <td id="careplan_<%=careplan.id%>_status">
            <% @status = Status.where id: careplan.status_id %>
            <%= link_to care_plan_edit_status_path(careplan), remote: true do %>
              <% if careplan.status.present? %>
                <%= careplan.status.name %>
              <% else %>
                Add director
              <% end %>
            <% end %>
          </td>
          <td id="careplan_<%=careplan.id%>_provider">
            <% @feeschedule = FeeSchedule.find_by id: careplan.fee_schedule_id %>
            <% @provider = Provider.find_by id: @feeschedule.provider_id %>
            <%= @provider.name %>
          </td>
          <td id="careplan_<%=careplan.id%>_action">
            <% @treatment = TreatmentAction.find_by id: @feeschedule.treatment_id %>
            <%= @treatment.action %>
          </td>
          <td id="careplan_<%=careplan.id%>_cost">
            $<%= @feeschedule.cost %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
