<%= form_with(model: care_plan) do |form| %>
  <% if care_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(care_plan.errors.count, "error") %> prohibited this care_plan from being saved:</h2>

      <ul>
        <% care_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fee_schedule_id %>
    <%= form.number_field :fee_schedule_id %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.number_field :status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
