<%= form_with(model: payer) do |form| %>
  <% if payer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payer.errors.count, "error") %> prohibited this payer from being saved:</h2>

      <ul>
        <% payer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
