<%= form_with(model: fee_schedule) do |form| %>
  <% if fee_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee_schedule.errors.count, "error") %> prohibited this fee_schedule from being saved:</h2>

      <ul>
        <% fee_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :provider_id %>
    <%= form.number_field :provider_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action %>
  </div>

  <div class="field">
    <%= form.label :payer_plan_id %>
    <%= form.number_field :payer_plan_id %>
  </div>

  <div class="field">
    <%= form.label :treatment_id %>
    <%= form.number_field :treatment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
