<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/gif/svg" href="Small_Logo.svg">
    <title>medChain</title>
    <%= csrf_meta_tags %>
    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class = "container ms-auto" >
          <div class="col" style="margin-top:10px">
            <a href = '/' ><img src="Full Logo.svg" alt="medChain", height = 40  /> </a>
          </div>
          <div class="col">
          </div>
          <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <% if current_medwallet_account == nil %>
                <div class="float-left">
                  <%= button_to "Sign-Up", new_medwallet_account_registration_path, id: "open-contacts-dialog-btn", class: "btn btn-outline-secondary", method: :get %>
                </div>
                <div class="float-left" padding-right= 30px>
                  <%= button_to "Sign-In", medwallet_account_session_path, id: "open-contacts-dialog-btn", class: "btn btn-outline-primary", method: :get %>
                </div>
              <% end %>
              <% if current_medwallet_account != nil %>
                <%= button_to "Sign-Out", destroy_medwallet_account_session_path, :class => "btn btn-outline-warning", method: :delete %>
                <%= link_to "User Home", profile_path(current_medwallet_account), :class => "btn btn-outline-success" %>
                <%#= button_to "User Home", { :action => 'profile', :id => current_medwallet_account.id }, :class => "btn btn-outline-success", method: :get %>
              <% end %>
            </div>
          </nav>
        </div>
        <% if alert.present? %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <% if notice.present? %>
          <div class="alert alert-primary" role = "alert">
            <%= notice %>
          </div>
        <% end %>
      </head>
      <div class="container-fluid" style="background-color:lightgoldenrodyellow">
        <body>
          <%= yield %>
        </body>
      </div>
    </html>
